@charset "utf-8";
/* CSS Document */

* {
	margin: 0;padding: 0;
	}
html,body{
	height:100%; width:100%;
	background-color:#0C9;}
canvas {
	display:block;
	}
#myButton{
	bottom: 20px;
	right: 20px;
	position: absolute;}
#myButton button{
	padding: 5px;}